{% extends 'base.html' %}
{% block title %}Contact{% endblock %}

{% block content %}
<section class="hero-section text-center">
    <h1 class="main-heading">📬 Let's Connect</h1>
    <p class="subtitle">Whether you want to collaborate, ask something, or just say hi — I'm always open!</p>

    <div class="container text-center">
        <div class="contact-card">

            <p><strong>📧 Email:</strong><br>
                <a href="mailto:swayamshree220@gmail.com" class="icon-link">swayamshree220@gmail.com</a>
            </p>

            <p><strong>💼 LinkedIn:</strong><br>
                <a href="https://www.linkedin.com/in/swayamshree-mishra-11432a277/" target="_blank" class="icon-link">
                    linkedin.com/in/swayamshree-mishra
                </a>
            </p>

            <p><strong>💻 GitHub:</strong><br>
                <a href="https://github.com/Swayamshree220" target="_blank" class="icon-link">
                    github.com/Swayamshree220
                </a>
            </p>

        </div>
    </div>
</section>
{% endblock %}
